.container {
    display: flex;
    justify-content: center;
    margin-top: 160px; 
    padding: 20px;
}

img {
    height: 8rem;

    object-fit: cover;
}

@media (min-width: 751px) {
    #titulo {
        color: aqua;
    }
}

@media(max-width: 750px) {
    #titulo {
        color: blue;
    }
}
