.carousel {
  margin-top: 100px; 
}

.carousel-item {
  transition: opacity 1.2s ease-in-out;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: opacity 1.2s ease-in-out;
}
